@import "./colorschemes/dracula.css";

* {
  border: none;
  font-family: "Fira Code", "Symbols Nerd Font Mono";
}

#waybar {
  background: @background;
}

#workspaces {
  font-size: 16px;
}

#clock,
#pulseaudio,
#network{
  font-size: 14px;
}

#window{
  font-size: 13px;
}

#workspaces,
#clock,
#pulseaudio,
#network,
#tray,
#cpu,
#memory,
#window {
  margin: 2px;
  padding: 0 5px;
  border-radius: 10px;
  background-color: transparent;
  color: @foreground;
}

#workspaces button,
#custom-separator {
  padding: 5px;
  color: @inactive;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button:hover {
  background-color: transparent;
}
