@define-color background-darker rgba(30, 31, 41, 230);
@define-color background rgba(40, 42, 54, 0.8);
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color inactive #8f8f98;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
  border: none;
}

#waybar {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: @foreground;
  background: transparent;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @purple;
}

#workspaces button.urgent {
  background-color: @red;
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @background-darker;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid transparent;
}

#tray *:first-child {
  border-left: none;
}

#cpu, #memory, #network, #pulseaudio, #clock, #temperature{
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @background-darker;
  border-radius: 4px;
  min-width: 20px;
}
