window {
    background-color: transparent;
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
}

#outer-box {
    margin: 5px;
    padding: 5px;
    border: 2px solid #bd93f9;
    background-color: #282a36;
    border-radius: 12px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
}

#entry.activatable #text {
    color: #282a36;
}

#entry > * {
    color: #f8f8f2;
}

#entry:selected {
    background-color: #44475a;
}

#entry:selected #text {
    font-weight: bold;
}
